[submodule "libdiagexploit"]
	path = libdiagexploit
	url = git://github.com/android-rooting-tools/libdiagexploit.git
[submodule "device_database"]
	path = device_database
	url = git://github.com/android-rooting-tools/android_device_database.git
[submodule "libperf_event_exploit"]
	path = libperf_event_exploit
	url = git://github.com/android-rooting-tools/libperf_event_exploit.git
[submodule "libmsm_acdb_exploit"]
	path = libmsm_acdb_exploit
	url = git://github.com/fi01/libmsm_acdb_exploit.git
[submodule "libfj_hdcp_exploit"]
	path = libfj_hdcp_exploit
	url = https://github.com/android-rooting-tools/libfj_hdcp_exploit.git
[submodule "libfb_mem_exploit"]
	path = libfb_mem_exploit
	url = https://github.com/android-rooting-tools/libfb_mem_exploit.git
[submodule "libkallsyms"]
	path = libkallsyms
	url = https://github.com/android-rooting-tools/libkallsyms.git
[submodule "libput_user_exploit"]
	path = libput_user_exploit
	url = https://github.com/fi01/libput_user_exploit.git
[submodule "libfutex_exploit"]
	path = libfutex_exploit
	url = https://github.com/android-rooting-tools/libfutex_exploit.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/fi01/android_external_zlib.git
[submodule "libexploit_utils"]
	path = libexploit_utils
	url = https://github.com/android-rooting-tools/libexploit_utils
[submodule "libpingpong_exploit"]
	path = libpingpong_exploit
	url = https://github.com/android-rooting-tools/libpingpong_exploit
